<p>Dear {{user.username}},</p>
<p>
    Congratulations! You were approved admin access to BookSafari.
</p>
<p>
    Please use the following to log in to
    <a href="http://cloud-vm-47-93.doc.ic.ac.uk/">http://cloud-vm-47-93.doc.ic.ac.uk/</a>:
</p>
<p>
    username: {{ user.username }}
    email:    {{ password }}
</p>
<p>
    You can change the password after you log in by logging out and clicking the "Click to Reset it" link under the form.
</p>

<p>
    If you are using the dataset provided in the admin access please don't forget to cite BookSafari.
</p>


<p>Sincerely,</p>
<p>The Book Safari Team</p>